<main>
    <div class="home">


        <div class="box">
            <img class="reciclagem" src="img/imagem.png" alt="">
            <div class="box-first">
                <h1>LOGÍSTICA <br> REVERSA</h1>
                <p>A Logística Reversa é um instrumento de desenvolvimento econômico e social caracterizado  por um conjunto de ações, procedimentos e meios destinados a viabilizar a coleta e a restituição dos resíduos sólidos ao setor empresarial, para reaproveitamento, em seu ciclo ou em outros ciclos produtivos, ou outra destinação final ambientalmente adequada. Quando aquilo que a empresa produz vira material de descarte na mão do consumidor, está aí uma oportunidade de não apenas fazer o bem para a sociedade e o planeta, como também de construir uma imagem positiva.</p>
            </div>
        </div>
        {{!-- <img class="img3" src="img/pngaaa 3.png" alt=""> --}}

        <div class="box2">

            <div class="box2-1">
                <div class="box2-img">
                    <h1>O QUE É LIXO ELETRÔNICO? </h1>
                    <img src="/img/apenas-20-das-mais-de-45-milhoes-de-toneladas-de-lixo-eletronico-e-reciclado-foto 1.png"
                        alt="">
                </div>


                <div class="box2-text">
                    <p>As tecnologias do mundo moderno possibilitam que novos aparelhos sejam lançados e novas tendências surjam rapidamente no mercado. Esse é um processo planejado que leva o consumidor a substituir seus equipamentos eletrônicos sem necessidade, gerando um volume maior de lixo eletrônico. O lixo eletrônico, também conhecido como e-lixo, é composto por produtos que não têm mais valor por falta de utilização, substituição ou quebra. A categoria inclui “produtos da linha branca”, como refrigeradores, máquinas de lavar e microondas, além de aparelhos eletrônicos como televisores, computadores, telefones celulares, tablets, drones, assim como pilhas, baterias, cartuchos e toners.</p>

                </div>
            </div>


            <div class="box-2-2">

                <div class="lista">
                    
                        <div class="yes-list">
                            
                                <div>
                                    <img src="/img/YES-simbolo.png" alt="">
                                </div>
                                <div>
                                    <ul class="list-style">
                                        <li>Pilhas</li>
                                        <li>Baterias</li>
                                        <li>Computador</li>
                                       
                                    </ul>
                                </div>
                        </div>
                            

                        <div class="no-list">
                            <div>
                                <img src="/img/NO-simbolo.png" alt="">
                            </div>

                            <div>
                                <ul class="list-style">
                                    <li>Equipamentos médicos</li>
                                    <li>Lâmpadas fluorescentes compactas</li>
                                    <li>Grandes aparelhos e eletrodomésticos</li>
                                </ul>
                            </div>
                            
                        </div>
                    
                </div>

                <div class="box-third">
                    <h1>O QUE PODE SER DESCARTADO?</h1>
                    <p>Produtos elétricos, eletrônicos quebrados, danificados ou sem utilidade por algum motivo e pilhas descarregadas devem ser descartados.</p>
                </div>

            </div>




            <div class="box-2-3">

                <div class="descarte">
                    <img src="/img/pien-realizara-campanha-de-coleta-de-lixo-eletronico-1559568719 1.png" alt="">
                    <a href="/to-search"><input type="button" value="SAIBA ONDE DESCARTAR!"></a>
                </div>
            </div>

        </div>
    </div>






</main>